﻿@using RentalBooks.Models;
@model RentalBooks.Models.CartIndexViewModel

<h2>Books in Your Cart</h2>
 <div class="row">
     <table class="table table-striped table-hover">
         <thead>
             <tr><th>No</th><th>Title</th><th>Authors</th><th>Categories</th><th>Action</th></tr>
         </thead>
         <tbody>
             @foreach (var L in Model.Cart.Lines)
             {
                 <tr>
                     <td>@L.Book.BookID</td>
                     <td>@L.Book.Title</td>
                     <td>
                         @foreach (Author a in @L.Book.Authors)
                         {
                             @a.Name @:&nbsp;
                             @a.Surname @:&nbsp;
                            }
                     </td>
                     <td>
                         @foreach (Category c in @L.Book.Categories)
                         {
                             @c.CatDescription @:&nbsp;
                            }
                     </td>
                     <td>
                         @using (Html.BeginForm("RemoveFromCart", "Cart"))
                         {
                             @Html.Hidden("bookId", L.Book.BookID)
                             @Html.HiddenFor(x => x.ReturnUrl)
                             <input type="submit" value="Remove" />
                         }
                     </td>
                 </tr>
             }
         </tbody>
     </table>
 </div>
<p align="center">
    <a class="btn btn-default" href="@Model.ReturnUrl">Return to List of Books</a> &#32;
    @Html.ActionLink("Make the Reservation", "Checkout")
</p>
