﻿@using SimpleLibrarySE.Models;
@using SimpleLibrarySE.ViewModels;
@using SimpleLibrarySE.HtmlHelpers;

@model SimpleLibrarySE.ViewModels.BooksListViewModel

@{
    ViewBag.Title = "List";
}

@foreach (Book b in Model.books)
{<div class="book">
    <table class="book">
        <thead><tr><th>Book</th><th><b>@b.Title</b></th><th>What Is That Book About ?</th></tr></thead>
        <tr><th>Authors:</th><td>
            @foreach (Author a in @b.Authors) 
            {
                @a.Name @:&#32
                @a.Surname
                @:(
                @a.Nick @:)
                 <br />  
                }
            </td>
            @if (b.Quantity>0)
            { <td rowspan="5">@b.ShortDescription</td> }
            else
            { <td rowspan="4">@b.ShortDescription</td> }
        </tr>
         <tr><th>Categories:</th><td>
             @foreach (Category c in @b.Categories)
             {
                 @c.CatDescription; @:<br />
             }
            </td></tr>
        <tr><th>Publisher:</th><td>@b.Publisher</td></tr>
        <tr><th>Availability:</th><td>@b.Quantity.ToString() </td></tr>
        @if (b.Quantity>0)
        {
            <tr><th>Order:</th>
                   <td>
                    @using(Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.Hidden("bookId", @b.BookID);
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" value="Borrow Me!" />
                    }
                </td></tr>
        }
        @if (b.Cover != null)
        { <tr><th colspan="2">Link to Cover:</th><td><a href="@b.Cover">Take a look here!</a></td></tr> }
        <tr><th colspan="3">The Best Pieces ...</th></tr>
        <tr><td colspan="3">@b.Textpart</td></tr>
    </table>
    
</div>
}
<div class="pager" style="border-top: 2px solid silver; padding: .5em 0 0 0; margin-top: 1em; font-size: 2em">
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { Page = x }))
</div>