﻿@{
    ViewBag.Title = "A bit of explanation!";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    This Application are placed on local web server therefore you must click the link instead of this one which has been sent to your mail. In common way, it is not necessary.
</p>
<p class="text-danger">
    You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
</p>
