﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

/* ============================== My AREA =================*/
th { border-right-style:dotted; border-bottom: 1px solid gray; font-style:italic; font-weight:normal; padding-left: 3px; padding-right: 3px }
td { background-color: #efe3e3 ; border-right: 1px solid gray; padding: 5px }
thead {  background-color: azure }
table.book { border-bottom: 2px solid gray; margin-bottom: 1em; border-left:1px solid gray; border-top: 2px solid gray}

div.pager { text-align:right; border-top: 2px solid silver;
    padding: .5em 0 0 0; margin-top: 1em; }
div.pager A { font-size: 1.1em; color: #666; text-decoration: none;
      padding: 0 .4em 0 .4em; }
div.pager A:hover { background-color: Silver; }
div.pager A.selected { background-color: #efe3e3; color: White; }
/* ========================================================*/

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
