﻿@model RentalBooks.Models.ItemViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}  

<h2>Edit @Model.book.Title</h2>

@using (Html.BeginForm("Edit", "Book", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <h4>Edit Book (inner identification=@Model.book.BookID)</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.book.BookID)
        <div class="form-group">
            @Html.LabelFor(model => model.book.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.book.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.book.Title)
            </div>
            @Html.LabelFor(model => model.book.Publisher, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.book.Publisher, new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.book.ShortDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.book.ShortDescription, new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.book.Textpart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.book.Textpart, new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.book.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.book.Quantity, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.book.Quantity)
            </div>
            @Html.LabelFor(model => model.book.Cover, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.book.Cover, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.book.Cover)
            </div>

            <label class="control-label col-md-2" >Authors</label>
            <span class=" col-md-10">
                @foreach (var item in Model.book.Authors)
                {
                    @Html.Label(item.Name + ' ' + item.Surname, new { @class = "control-label" })<br />
                }
            </span>

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<div>
   <a href="@Model.returnUrl" class="btn btn-default">Return</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


