﻿@model IEnumerable<RentalBooks.Models.Book>

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <h2>List of Books</h2>
                      <div class="row">
                          <table class="table table-striped table-hover">
                              <tr>
                                  <th>ID</th>
                                  <th>Title</th>
                                  <th>Authors</th>
                                  <th>Actions</th>
                              </tr>
                              @foreach (var item in Model)
{
    <tr class="warning">
        <td>@item.BookID</td>
        <td>
        @using (Html.BeginForm("Edition", "Book"))
        {
            @Html.Hidden("bookId", item.BookID);
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" value="@item.Title" class="btn btn-link"  />
        }
            </td>
        <td>...</td>
        <td>
            @using (Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("BookID", item.BookID)
    <input type="submit" value="Delete" class="btn btn-danger" />
            }
        </td>
    </tr>
}
                          </table>
                          <p>@Html.ActionLink("Add New Book", "Create", new { @class = "btn btn-primary" })</p>
                      </div>
