﻿
@using RentalBooks.Models;
@using RentalBooks.HtmlHelpers;

@model RentalBooks.Models.BooksListViewModel

@{
    ViewBag.Title = "List";
}
<h2>List of Books</h2>
@foreach (Book b in Model.books)
{
    Html.RenderPartial("BookSummary", b);
}
@if (Request.IsAuthenticated && User.IsInRole("Admin")) {
    @Html.ActionLink("Administration Module", "Index", "Book", new { @class = "btn btn-danger" }) }
                                                               
<div class="pager" style="border-top: 2px solid silver; padding: .5em 0 0 0; margin-top: 1em; font-size: 2em">
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { Page = x }))
</div>
