﻿@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h3>@ViewBag.Title.</h3>
</hgroup> 
<div>
    <address>
        Rinf ICT Sp. z o.o.<br />
        Ostrowskiego 13 C<br />
        53-238 Wrocław<br />
        <abbr title="Phone">P:</abbr>
        071 78 60 800
    </address>
</div>