﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Rental Books ... </h2>
    <p class="text-primary">Welcome to our simple rental books. A lot of items are waiting for you to borrow them ...</p>
    @if (Request.IsAuthenticated)
    { <p class="text-muted">Hi @User.Identity.Name, you have just loged!</p> }
    <p><a href="http://www.jedynak.com.pl" class="btn btn-success">Author Website</a></p>
</div>
