﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ADMINISTRATION BACKSTAGE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
            <ul class="breadcrumb">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Administration Backstage</h3>
            </div>

            @if (TempData["message"] != null)
            {
                <div class="Message">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
</div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>