﻿@using RentalBooks.Models
@model RentalBooks.Models.Book
<div class="row">
    <table class="table table-striped table-hover ">
        <thead><tr><th>Book</th><th><b>@Model.Title</b></th><th>What Is That Book About ?</th></tr></thead>
        <tr class="info">
            <th>Authors:</th>
            <td>
                @foreach (Author a in @Model.Authors)
                {
                    @a.Name @:&#32
                    @a.Surname
                    @:(
                    @a.Nick @:)
                    <br />
                }
            </td>
            @if (Model.Quantity > 0)
            {
                <td rowspan="5">@Model.ShortDescription</td> }
            else
            {
                <td rowspan="4">@Model.ShortDescription</td> }
        </tr>
        <tr>
            <th>Categories:</th>
            <td>
                @foreach (Category c in @Model.Categories)
                {
                    @c.CatDescription; @:<br />
             }
            </td>
        </tr>
        <tr><th>Publisher:</th><td>@Model.Publisher</td></tr>
        <tr><th>Availability:</th><td>@Model.Quantity.ToString() </td></tr>
        @if (Model.Quantity > 0)
        {
            <tr>
                <th>Order:</th>
                <td>
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.Hidden("bookId", @Model.BookID);
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" value="Take to Cart!" class="btn btn-info" />
                    }
                </td>
            </tr>
        }
         <tr>
        <th>Link to Cover:</th>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                        using (Html.BeginForm("Edition", "Book"))
        {
            @Html.Hidden("bookId", @Model.BookID);
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery);
            @:<input type="submit" value="Edit" class="btn btn-danger"  />
        }
 
            }
         </td>

        <td>
            @if (Model.Cover != null)
            {
             <a href="@Model.Cover">Take a look here!</a>
            }
        </td>
        </tr>
        <tr><th colspan="3">The Best Pieces ...</th></tr>
        <tr><td colspan="3">@Model.Textpart</td></tr>
    </table>



    </div>

