﻿@using SimpleLibrarySE.Abstract;
@using SimpleLibrarySE.Models;
@model SimpleLibrarySE.ViewModels.CartIndexViewModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books which you have chosen...</title>
</head>
<body>
    <h5>Books which you have chosen ...</h5>
    <div class="book">
        <table class="book">
            <thead>
                <tr><th>No</th><th>Title</th><th>Authors</th><th>Categories</th><th>Action</th></tr>
            </thead>
            <tbody>
                @foreach(var L in Model.Cart.Lines)
                {
                    <tr>
                        <td>@L.Book.BookID</td>
                        <td>@L.Book.Title</td>
                        <td>
                            @foreach (Author a in @L.Book.Authors)
                            {
                                @a.Name @:&nbsp;
                                @a.Surname @:&nbsp;
                            }
                        </td>
                        <td>
                            @foreach(Category c in @L.Book.Categories)
                            {
                                @c.CatDescription @:&nbsp;
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("bookId", L.Book.BookID)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input type="submit" value="Remove" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
